@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
  --background: #1A1924;
  --textColor-white: #E1E1E6;
  --iconColor-white: #E1E1E6;
  --textBox-purple: #633BBC;
  --textBox-green: #07847E;
  --userStatus-online: #00B37E;
  --inputBox: #282843;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--background);
  width: 100%;
  height: 100vh;
}

.container {
  margin: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.header {
  width: 100%;
  padding: 24px 32px;
  display: flex;
  align-items: center;
  gap: 16px;
  position: fixed;
  background-color: var(--background);
}

.avatar {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.avatar__image {
  flex: 1;
  object-fit: cover;
}

.userInfo {
  flex: 1;
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 4px;
}

.userInfo__name {
  font-size: 1rem;
  color: var(--textColor-white);
  font-weight: bold;
}

.userInfo__status {
  font-size: 0.75rem;
  color: var(--userStatus-online);
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 12px;
}

.userInfo__status::before {
  content: '';
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: var(--userStatus-online);
  position: absolute;
  left: 0;
}

.closebtn {
  width: 20px;
  height: 20px;
  color: var(--iconColor-white);
  font-size: 20px;
}

.typeContainer {
  position: fixed;
  bottom: 0;
  padding: 24px 32px;
  background-color: var(--background);
  width: 100%;
}

.typeBox {
  background-color: var(--inputBox);
  padding: 14px 24px;
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 50px;
}

.typeBox__input {
  flex: 1;
  font-size: 0.75rem;
  color: var(--textColor-white);
  line-height: 14px;
}

.typeBox__input::placeholder {
  color: var(--textColor-white);
}

.typeBox__button {
  width: 24px;
  height: 24px;
  color: var(--iconColor-white);
  font-size: 24px;
}

.chat {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 30px;
  flex: 1;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 96px;
  padding-bottom: 100px;
}

.chat__time {
  text-align: center;
  align-self: center;
  font-size: 0.75rem;
  color: var(--textColor-white);
}

.chat__message {
  max-width: 80%;
}

.chat__message--received {
  align-self: flex-start;
  text-align: start;
}

.chat__message--sent {
  align-self: flex-end;
  text-align: end;
}

.chat__user {
  display: block;
  font-size: 0.75rem;
  color: var(--textColor-white);
  margin-bottom: 10px;
}

.chat__textbox {
  padding: 14px;
  border-radius: 8px;
  display: inline-block;
  word-break: break-word;
}

.chat__textbox--received {
  border-top-left-radius: 0;
  background-color: var(--textBox-purple);
}

.chat__textbox--sent {
  border-bottom-right-radius: 0;
  background-color: var(--textBox-green);
}

.chat__text {
  font-size: 0.75rem;
  color: var(--textColor-white);
}

@media screen and (min-width: 1024px) {
  .container {
    max-width: 880px;
  }

  .header {
    max-width: 880px;
    padding: 32px 0 14px 0;
  }

  .typeContainer {
    max-width: 880px;
    padding: 32px 0;
  }

  .chat {
    padding-left: 0;
    padding-right: 0;
    padding-top: 94px;
    padding-bottom: 116px;
  }
}